.login {
  margin: 93px 0 0 120px;

  .ant-input:focus {
    box-shadow: none;
  }

  .desc {
    width: 327px;
    height: 35px;
    font-size: 36px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: #fff;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .main {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    padding: 59px 48px 0;
  
    .register{
      color: #6D62FF;
    }

    #formLogin.user-layout-login {
      .ant-tabs {
        :global(.ant-tabs-nav .ant-tabs-tab) {
          margin: 0 40px 16px 0;
          padding: 0;
          font-size: 16px;
          color: #B3B5BA;
        }

        :global(.ant-tabs-nav .ant-tabs-tab-active) {
          color: rgba(100, 85, 2551);
        }

        :global(.ant-input) {
          background-color: #f5f5f5;
          border-color: #F5F5F5;

          &:focus {
            border-color: #6455ff;
          }
        }

        :global(.ant-tabs-bar) {
          margin-bottom: 40px;
        }

        :global(.ant-input-lg) {
          height: 44px;
        }

        :global(.ant-form-explain) {
          height: 2px;
        }

        .getCaptcha {
          float: right;
          height: 44px;
          width: 99px;
          background-color: #6455FF;
          color: #fff;
          border-color: #6455FF;
        }
      }

      :global(.ant-row.ant-form-item) {
        margin-bottom: 20px;
      }

      .ant-row.ant-form-item.form-out {
        :global(.ant-form-item-control) {
          line-height: 22px;

          a {
            color: #333333;
          }
        }
      }

      :global(.login-btn.ant-row.ant-form-item) {
        margin-top: 25px;

        button {
          width: 100%;
          height: 48px;
          font-size: 16px;
        }
      }

      .user-login-other {
        margin: 42px 0 15px;
        float: right;
        cursor: pointer;
      }
    }
  }
}

#userLayout.user-layout-wrapper.mobile {
  .login {
    margin: 0;
    padding: 0;

    .desc {
      margin: 10% auto;
      width: auto;
      text-align: center;
    }

    .main {
      margin: 0 auto;
      padding: 5%;
      width: 96%;
      height: auto;

      :global(.ant-tabs-bar) {
        margin-bottom: 15%;
      }

      .user-login-other {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
