:global(.register){
    height: 552px;
    padding: 13px 24px;

    .step{
        margin-bottom: 25px;
    }
    .step2{
        margin-bottom: 75px;
    }

    :global(.ant-row.ant-form-item){
        margin-bottom: 20px;
        height: 40px;

        :global(.ant-select-selection.ant-select-selection--single){
            height: 40px;
            background-color: rgba(225,225,225,1);
        }
        .ant-input{
            height: 40px;
            background-color: rgba(225,225,225,1);
        }
        .gc-canvas{
            float: right;
            height: 40px;
        }
        
        .ant-btn{
            float: right;
            height: 40px;
            width: 135px;
            color: white;
            background-color:rgba(100,85,255,1);;
        }

        .ant-checkbox-wrapper{
            margin-left: 290px;
        }
        :global(.ant-checkbox-inner){
            border-color: rgba(100,85,255,1);
        }
    }
    .ant-btn{
        width: 200px;
        margin-left: 340px;
        background-color: rgba(100,85,255,1);
        border-color: rgba(100,85,255,1);
    }
    .left{
        margin-left: 265px;
        width: 120px;
        background-color: rgba(225,225,225,1);
        color:  rgba(51,51,51,1);
        border: none;
    }
    .right{
        margin-top: 5px;
        margin-left: 10px;
        width: 245px;
    }

    .login{
        margin-top: 25px;
        float: left;
        color: rgba(179,181,186,1)
    }
    .help{
        margin-top: 25px;
        float: right;
        color: rgba(179,181,186,1)
    }


    .register-done{
        text-align: center;
    }
}

